<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <title>Gig for Geeks</title>
</head>
<body>
    <header>
      <a href="/">
        <img id="img-main" src="https://image.freepik.com/free-vector/digital-nomad-mountains_67419-21.jpg"/>
        <h1>gig for geeks</h1>
      </a>
    </header>
    <form action="/report" method="get">
      <input type="text" placeholder="Every gigs for you geeks" name="word" required/>
      <button type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <div id="represented">
      <h3>Represented with:</h3>
      <div class="img-box">
        <a href="https://stackoverflow.com/" target="_blank">
          <img class="img-jobsite" src="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196" />
        </a>
        <a href="https://weworkremotely.com" target="_blank">
          <img class="img-jobsite" src="https://weworkremotely.com/assets/wwr-social-fd7d545c56e975b65fae9cf49346aac95a8cdb4774b2c269af89ac8993141380.png" />
        </a>
        <a href="https://remoteok.io/" target="_blank">
          <img class="img-jobsite" src="https://remoteok.io/assets/favicon-32x32.png?1612742631" />
        </a>
      </div>
    </div>
    <footer>
      <div class="copyright">ⓒ 2021 @nanunzoey</div>
    </footer>
</body>
</html>